<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.terrasport.webservice.core.dao.ParticipationDao">

	<!--  	**********  -->
	<!--  	RESULT MAP  -->
	<!--  	**********  -->
	<resultMap id="Participation_ResultMap_Complet"
		type="com.terrasport.webservice.core.model.Participation">
		<id property="id" column="participations_id" />
		<result property="date" column="participations_date" />
		<association property="evenement" column="participations_evenement_id" javaType="com.terrasport.webservice.core.model.Evenement" select="com.terrasport.webservice.core.dao.EvenementDao.getById"/>
		<association property="utilisateur" column="participations_user_id" javaType="com.terrasport.webservice.core.model.CompetenceSport" select="com.terrasport.webservice.core.dao.UtilisateurDao.getById"/>
	</resultMap>
	
	<sql id="select_Les_Participations">
		SELECT participations_id,
		participations_date,
		participations_evenement_id,
		participations_user_id
		FROM PARTICIPATIONS
	</sql>
	
	<select id="getAll" resultMap="Participation_ResultMap_Complet">
		<include refid="select_Les_Participations" />
	</select>
	
	<select id="getAllByEvenement" resultMap="Participation_ResultMap_Complet">
		<include refid="select_Les_Participations" />
		WHERE participations_evenement_id = #{evenementId}
	</select>
	
	<select id="getAllByUser" resultMap="Participation_ResultMap_Complet">
		<include refid="select_Les_Participations" />
		WHERE participations_user_id = #{utilisateurId}
	</select>
	
	<select id="getParticipationsAVenir" resultMap="Participation_ResultMap_Complet">
		<include refid="select_Les_Participations" />
		WHERE participations_user_id = #{utilisateurId}
		AND CURRENT_TIMESTAMP > participations_date 
	</select>
	
	<select id="getById" resultMap="Participation_ResultMap_Complet">
		<include refid="select_Les_Participations" />
		WHERE participations_id = #{participationId}
	</select>
	
	<insert id="sauvegarder" parameterType="com.terrasport.webservice.core.model.Participation"
		useGeneratedKeys="true" keyColumn="participations_id" keyProperty="participation.id">
		INSERT INTO PARTICIPATIONS
		(participations_date,
		participations_evenement_id,
		participations_user_id)
		VALUES ( CURRENT_TIMESTAMP,
		#{demandeParticipation.evenement.id},
		#{demandeParticipation.utilisateur.id} );
	</insert>
	
</mapper>